@use "assets/scss/abstracts/scss-variables" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: $color-dark-xl;
  font-size: $font-size-main;
  font-family: $font-main;
}

.no-scroll {
  overflow-y: hidden;
}

.stop-animation * {
  transition: none !important;
  animation: none !important;
}
