@use "assets/scss/abstracts/scss-variables" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: var(--color-dark-xl);
  font-size: $font-size-main;
  font-family: $font-main;
}

.no-scroll {
  position: fixed;
}

.preload * {
  transition: none !important;
}
