// ******** Abstracts ********
@use "assets/scss/abstracts/css-variables";

// ******** Base ********
@use "assets/scss/base/reset";
@use "assets/scss/base/fonts";
@use "assets/scss/base/general";

// ******** Components ********
@use "assets/scss/components/icon";
@use "assets/scss/components/button";
@use "assets/scss/components/logo";
@use "assets/scss/components/title";
@use "assets/scss/components/section";
@use "assets/scss/components/pet-card";
@use "assets/scss/components/pagination";

// ******** Layout ********
@use "assets/scss/layout/wrapper";
@use "assets/scss/layout/header";
@use "assets/scss/layout/navigation";
@use "assets/scss/layout/footer";
@use "assets/scss/sections/pets";
