@use "assets/scss/css-variables";
@use "assets/scss/scss-variables" as *;
@use "assets/scss/general";

.title {
  font-weight: 400;
  font-family: $font-title;
}

.link {
  height: 27px;
  color: var(--color-dark-s);
  line-height: 1.6;

  &:hover {
    color: var(--color-light-s);
  }

  &--active {
    position: relative;
    color: var(--color-light-s);

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-primary);
      content: "";
    }
  }
}

.button {
  display: inline-block;
  padding: 15px 45px;
  color: var(--color-dark-3xl);
  font-size: 17px;
  font-family: $font-title;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: var(--color-primary);
  border-radius: 100px;

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  background:
    url("assets/images/noise-pattern.png"),
    radial-gradient(100% 215.42% at 0% 0%, rgb(91 72 58) 0%, rgb(38 36 37) 100%),
    rgb(33 31 32);
  background-position-y: top;
  background-size: auto, auto 908px;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
}

.logo {
  height: 60px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  &__title {
    color: var(--color-primary);
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    color: var(--color-light-xl);
    font-size: 13px;
    letter-spacing: 0.1em;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hero {
  background:
    url("assets/images/noise-pattern.png"),
    radial-gradient(100% 215.42% at 0% -180px, rgb(91 72 58) 0%, rgb(38 36 37) 100%),
    rgb(33 31 32);

  &__content {
    display: grid;
    grid-template: 121px repeat(4, auto) / repeat(2, auto);
    grid-template-areas:
      ". hero-image" "hero-title hero-image"
      "hero-text hero-image" "hero-button hero-image" ". hero-image";
    gap: 42px;
  }

  &__title {
    grid-area: hero-title;
    max-width: 310px;
    color: var(--color-light-xl);
    font-size: 44px;
    line-height: 130%;
  }

  &__text {
    grid-area: hero-text;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 160%;
  }

  &__button {
    grid-area: hero-button;
    margin-right: auto;
  }

  &__image {
    grid-area: hero-image;
  }
}
