@use "assets/scss/css-variables";
@use "assets/scss/scss-variables" as *;
@use "assets/scss/general";

.title {
  font-weight: 400;
  font-family: $font-title;
}

.link {
  height: 27px;
  color: var(--color-dark-s);
  line-height: 1.6;
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--color-light-s);
  }

  &--active {
    position: relative;
    color: var(--color-light-s);

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-primary);
      content: "";
    }
  }
}

.button {
  display: inline-block;
  padding: 13px 43px;
  color: var(--color-dark-3xl);
  font-size: 17px;
  font-family: $font-title;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, border 0.2s ease-in;

  &--secondary {
    background-color: transparent;
  }

  &:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  &--round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  background:
    url("assets/images/noise-pattern.png"),
    radial-gradient(100% 215.42% at 0% 0%, rgb(91 72 58) 0%, rgb(38 36 37) 100%),
    rgb(33 31 32);
  background-position-y: top;
  background-size: auto, auto 908px;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
}

.logo {
  height: 60px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  &__title {
    color: var(--color-primary);
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    color: var(--color-light-xl);
    font-size: 13px;
    letter-spacing: 0.1em;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hero {
  background:
    url("assets/images/noise-pattern.png"),
    radial-gradient(100% 215.42% at 0% -180px, rgb(91 72 58) 0%, rgb(38 36 37) 100%),
    rgb(33 31 32);

  &__content {
    display: grid;
    grid-template: 121px repeat(4, auto) / repeat(2, auto);
    grid-template-areas:
      ". hero-image" "hero-title hero-image"
      "hero-text hero-image" "hero-button hero-image" ". hero-image";
    gap: 42px;
  }

  &__title {
    grid-area: hero-title;
    max-width: 310px;
    color: var(--color-light-xl);
    font-size: 44px;
    line-height: 130%;
  }

  &__text {
    grid-area: hero-text;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 160%;
  }

  &__button {
    grid-area: hero-button;
    margin-right: auto;
  }

  &__image {
    grid-area: hero-image;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;

  &:nth-of-type(2n + 1) {
    background-color: var(--color-light-l);
  }
}

.section-title {
  max-width: 400px;
  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 35px;
  font-family: $font-title;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.about {
  &__content {
    display: flex;
    gap: 120px;
    justify-content: center;
    margin: 0 auto;
  }

  &__column {
    display: flex;
    flex-basis: 430px;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
  }

  &__text {
    line-height: 1.6;
  }

  &__image {
    order: -1;
  }
}

.our-friends {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;
  }

  &__pets-slider {
    width: 100%;
    margin-bottom: 60px;
  }
}

.pets-slider {
  display: flex;
  gap: min(2vw, 53px);
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    gap: min(5vw, 90px);
    justify-content: space-between;
  }

  &__button {
    &--slide-left {
      order: -1;
    }
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-light-s);
  border-radius: 9px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;

  &:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0 2px 35px 14px rgb(13 13 13 / 4%);
  }

  &__button {
    align-self: center;
    margin-bottom: 30px;
  }

  &:hover &__button {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  &__image-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }

  &__image {
    object-fit: cover;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
}

.help {
  &__title {
    max-width: 350px;
    margin: 0 auto 60px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item-title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
}
