@use "assets/scss/abstracts/scss-variables" as *;

:root {
  // ********** Sizes **********
  --carousel-content-width: #{$carousel-content-width};
  --carousel-content-gap: #{$carousel-content-gap};
  --carousel-column-gap: #{$carousel-column-gap};

  @media (max-width: $breakpoint-desktop) {
    --carousel-content-width: #{$carousel-content-width-tablet};
    --carousel-content-gap: #{$carousel-content-gap-tablet};
    --carousel-column-gap: #{$carousel-column-gap-tablet};
  }

  @media (max-width: $breakpoint-tablet) {
    --carousel-content-width: #{$carousel-content-width-mobile};
    --carousel-content-gap: #{$carousel-content-gap-mobile};
    --carousel-column-gap: #{$carousel-column-gap-mobile};
  }
}
