// ********** Typography **********
$font-title: "Georgia", serif;
$font-main: "Arial", sans-serif;
$font-size-main: 15px;

// ********** Breakpoints **********
$breakpoint-desktop: 1279px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

// ********** Sizes **********
$content-max-width: 1200px;
$wrapper-pinline: 40px;
$wrapper-pinline-tablet: 30px;
