// ********** Color palette **********
$color-dark-3xl: rgb(41 41 41);
$color-dark-xl: rgb(76 76 76);
$color-dark-l: rgb(84 84 84);
$color-dark-m: rgb(178 178 178);
$color-dark-s: rgb(205 205 205);
$color-light-l: rgb(246 246 246);
$color-light-s: rgb(250 250 250);
$color-light-xl: rgb(255 255 255);
$color-primary: rgb(242 204 176);
$color-primary-light: rgb(253 220 196);
$color-darkest: rgb(0 0 0);
$color-backdrop: rgb(41 41 41 / 60%);
$bg-dark-pattern: url("assets/images/noise-pattern.png"),
  radial-gradient(100% 215.42% at 0% 0%, rgb(91 72 58) 0%, rgb(38 36 37) 100%), rgb(33 31 32);

// ********** Typography **********
$font-title: "Georgia", serif;
$font-main: "Arial", sans-serif;
$font-size-main: 15px;

// ********** Breakpoints **********
$breakpoint-desktop: 1279px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 320px;

// ********** Sizes **********
$content-max-width: 1200px;
$wrapper-pinline: 40px;
$wrapper-pinline-tablet: 30px;
$wrapper-pinline-mobile: 10px;
$card-height: 435px;
$button-round-size: 53px;
$carousel-row-gap: 20px;
$carousel-column-gap: 53px;
$carousel-column-gap-tablet: 12px;
$carousel-column-gap-mobile: 80px;
$carousel-content-w: 990px;
$carousel-content-w-tablet: 580px;
$carousel-content-w-mobile: 270px;
$carousel-content-gap: 90px;
$carousel-content-gap-tablet: 40px;
$carousel-content-gap-mobile: 40px;
$modal-w: 900px;
$modal-w-tablet: 630px;
$modal-w-mobile: auto;
$modal-h: 500px;
$modal-h-tablet: 350px;
$modal-h-mobile: auto;
$modal-m: 40px auto;
$modal-m-tablet: 40px auto;
$modal-m-mobile: 40px;
$modal-info-p: 50px 20px 50px 29px;
$modal-info-p-tablet: 10px 9px 10px 10px;
$modal-info-p-mobile: 10px;

// ********** Layers **********
$z-index-burger: 1020;
$z-index-sidenav: 1010;
$z-index-sidenav-overlay: 1000;
$z-index-modal: 1100;
$z-index-modal-dialog: 1110;
