@use "assets/scss/abstracts/scss-variables" as *;

.about {
  &__content {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 80px;
      align-items: center;
      width: 60.7%;
    }

    @media (max-width: $breakpoint-tablet) {
      gap: 42px;
      width: 90%;
    }
  }

  &__column {
    flex-basis: 35.8%;
  }

  &__title {
    margin: 0 auto 25px;
  }

  &__text {
    margin-bottom: 25px;
    line-height: 1.6;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 22px;
      text-align: justify;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    order: -1;
    max-width: 100%;
    height: auto;

    @media (max-width: $breakpoint-desktop) {
      order: initial;
    }

    @media (max-width: $breakpoint-tablet) {
      max-width: 96.3%;
    }
  }
}
