@use "assets/scss/abstracts/scss-variables" as *;

.donation {
  &__content {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column-reverse;
      gap: 60px;
    }

    @media (max-width: $breakpoint-tablet) {
      gap: 42px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 380px;

    @media (max-width: $breakpoint-desktop) {
      max-width: 53.7%;
    }

    @media (max-width: $breakpoint-tablet) {
      align-items: center;
      max-width: 300px;
    }
  }

  &__title {
    max-width: 300px;

    @media (max-width: $breakpoint-tablet) {
      max-width: 220px;
      margin: 0 auto;
    }
  }

  &__details {
    font-family: $font-title;
    line-height: 1.1;
    letter-spacing: 0.06em;

    @media (max-width: $breakpoint-tablet) {
      line-height: 24px;
      letter-spacing: normal;
    }
  }

  &__legal-info {
    color: $color-dark-m;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;

    @media (max-width: $breakpoint-tablet) {
      padding: 0 10px;
      text-align: justify;
    }
  }

  &__image {
    max-width: 100%;

    @media (max-width: $breakpoint-tablet) {
      width: 260px;
    }
  }
}
