.help {
  &__title {
    max-width: 350px;
    margin: 0 auto 60px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item-title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
}
