@use "assets/scss/abstracts/scss-variables" as *;

.help {
  &__title {
    max-width: 350px;
    margin: 0 auto 60px;
    margin-bottom: 60px;
    text-align: center;

    @media (max-width: $breakpoint-tablet) {
      max-width: 250px;
      margin-bottom: 42px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
      column-gap: 60px;
    }

    @media (max-width: $breakpoint-tablet) {
      gap: 30px;
      justify-content: space-between;
      max-width: 290px;
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-desktop) {
      flex-basis: 24%;
    }

    @media (max-width: $breakpoint-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__item-icon {
    width: 60px;
    height: auto;

    @media (max-width: $breakpoint-tablet) {
      width: 50px;
    }
  }

  &__item-title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 20px;
      font-size: 15px;
      line-height: 110%;
    }
  }
}
