@use "assets/scss/abstracts/scss-variables" as *;

.help {
  &__title {
    max-width: 350px;
    margin: 0 auto 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
      column-gap: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-desktop) {
      flex-basis: 24%;
    }
  }

  &__item-title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
}
