@use "assets/scss/abstracts/scss-variables" as *;

.hero {
  background: var(--bg-dark-pattern);

  &__content {
    display: flex;
    gap: 42px;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 100px;
    }

    @media (max-width: $breakpoint-tablet) {
      gap: 105px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 163px;

    @media (max-width: $breakpoint-desktop) {
      width: 65%;
      margin: 0 auto;
      padding-top: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 300px;
      text-align: center;
    }
  }

  &__title {
    max-width: 310px;
    color: var(--color-light-xl);
    font-size: 44px;
    line-height: 130%;

    @media (max-width: $breakpoint-tablet) {
      max-width: 200px;
      margin: 0 auto;
      font-size: 25px;
      letter-spacing: 0.06em;
    }
  }

  &__text {
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 160%;
  }

  &__button {
    align-self: flex-start;

    @media (max-width: $breakpoint-desktop) {
      align-self: center;
    }
  }

  &__image {
    max-width: 100%;

    @media (max-width: $breakpoint-desktop) {
      align-self: flex-end;
      width: 80.3%;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 86.7%;
    }
  }
}
