@use "assets/scss/scss-variables" as *;
@use "assets/scss/components/pet-card";

.our-friends {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;
  }

  &__pets-slider {
    width: 100%;
    margin-bottom: 60px;
  }
}

.pets-slider {
  display: flex;
  gap: 4.4%;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-desktop) {
    gap: 1.7%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    gap: 9%;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
      gap: 6.9%;

      > *:nth-child(3) {
        display: none;
      }
    }
  }

  &__button {
    flex-basis: 52px;

    &--slide-left {
      order: -1;
    }
  }
}
