@use "assets/scss/abstracts/scss-variables" as *;

.our-friends__content {
  text-align: center;
}

.our-friends__title {
  margin: 0 auto 60px;
  text-align: center;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 42px;
  }
}

.our-friends__carousel {
  width: 100%;
  margin: 0 auto 60px;

  @media (max-width: $breakpoint-desktop) {
    max-width: 708px;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 42px;
  }
}

.our-friends__button {
  display: inline-flex;
  margin: 0 auto;
}
