@use "assets/scss/abstracts/scss-variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;

  // padding: 13px 43px;
  padding: 0 43px;
  color: $color-dark-3xl;
  font-size: 17px;
  font-family: $font-title;
  line-height: 1.3;
  letter-spacing: 0.06em;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, border 0.2s ease-in;

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &--outlined {
    background-color: transparent;
  }

  &--round {
    width: 52px;

    // height: 52px;
    padding: 0;
    font-size: 20px;
    line-height: 1.15;
  }

  &--secondary {
    gap: 15px;
    min-height: 43px;

    // padding: 10px 15px;
    padding: 0 15px;
    font-size: 20px;
    line-height: 1.15;
    border: none;
    border-radius: 9px;

    @media (max-width: $breakpoint-tablet) {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 15px;
      line-height: 17px;
    }
  }

  &--disabled,
  &--disabled:hover {
    color: $color-dark-s;
    background-color: transparent;
    border-color: $color-dark-s;
    cursor: default;

    // pointer-events: none;
  }

  &--active {
    cursor: default;

    // pointer-events: none;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}
