@use "assets/scss/abstracts/scss-variables" as *;

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--carousel-column-gap);
  row-gap: $carousel-row-gap;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;

    &::before {
      width: 100%;
      content: "";
    }
  }
}

.carousel__inner {
  width: var(--carousel-content-width);
  overflow: hidden;

  @media (max-width: $breakpoint-tablet) {
    order: -1;
  }
}

.carousel__content {
  position: relative;
  left: calc(-1 * (var(--carousel-content-width) + var(--carousel-content-gap)));
  display: flex;
  gap: var(--carousel-content-gap);
  height: $card-height;
}

.carousel__item {
  display: flex;
  gap: var(--carousel-content-gap);
  justify-content: center;
}

.carousel__button {
  flex-basis: 52px;

  &--slide-left {
    order: -1;

    @media (max-width: $breakpoint-tablet) {
      order: initial;
    }
  }
}

@keyframes move-left {
  from {
    left: calc(-1 * (var(--carousel-content-width) + var(--carousel-content-gap)));
  }

  to {
    left: calc(-2 * (var(--carousel-content-width) + var(--carousel-content-gap)));
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}

@keyframes move-right {
  from {
    left: calc(-1 * (var(--carousel-content-width) + var(--carousel-content-gap)));
  }

  to {
    left: 0;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}
