@use "assets/scss/scss-variables" as *;

.footer {
  padding-top: 40px;
  background: var(--bg-dark-pattern);

  &__content {
    display: flex;
    gap: 160px;
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 40px;
    color: var(--color-light-xl);
  }

  &__contacts {
    max-width: 302px;
  }

  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    color: var(--color-primary);
    font-size: 20px;
    font-family: $font-title;
    line-height: 1.15;
    letter-spacing: 0.06em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
