@use "assets/scss/scss-variables" as *;

.footer {
  padding-top: 40px;
  background: var(--bg-dark-pattern);

  &__content {
    display: flex;
    gap: 160px;
    justify-content: space-between;

    // display: grid;
    // grid-template-columns: 1fr 1fr 300px;
    // column-gap: 160px;
  }

  &__title {
    margin-top: 16px;
    color: var(--color-light-xl);
  }

  &__contacts-box {
    display: flex;
    gap: 160px;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 302px;

    /* a fix for pixel perfect */
    &:nth-child(2) {
      gap: 30px;
      margin-right: 8px;
    }
  }

  &__contact {
    display: flex;
    gap: 20px;
    color: var(--color-primary);
    font-size: 20px;
    font-family: $font-title;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }

  &__contact-text {
    margin-top: 6px;
    white-space: nowrap;
  }
}
