.header {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-dark-pattern);
  background-position-y: top;
  background-size: auto, auto 908px;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  .pets-page & {
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--color-light-xl);
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}
