.link {
  color: var(--color-dark-s);
  line-height: 24px;
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--color-light-s);
  }

  &--dark {
    color: var(--color-dark-l);

    &:hover {
      color: var(--color-dark-3xl);
    }
  }

  &--active {
    position: relative;
    padding-bottom: 3px;
    color: var(--color-light-s);

    &-dark {
      color: var(--color-dark-3xl);
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-primary);
      content: "";
    }
  }
}
