@use "assets/scss/abstracts/scss-variables" as *;

.logo {
  height: 60px;
  min-height: 60px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  &__title {
    color: $color-primary;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.06em;

    &--dark {
      color: $color-dark-l;
    }
  }

  &__subtitle {
    color: $color-light-xl;
    font-size: 13px;
    letter-spacing: 0.1em;

    &--dark {
      color: $color-dark-3xl;
    }
  }
}
