@use "assets/scss/abstracts/scss-variables" as *;
@use "assets/scss/abstracts/placeholders";

.pet-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-width: 270px;
  overflow: hidden;
  text-align: center;
  background-color: $color-light-s;
  border-radius: 9px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;

  @extend %rounded-borders;

  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0 2px 35px 14px rgb(13 13 13 / 4%);
  }

  &__button {
    align-self: center;
    margin-bottom: 30px;
  }

  &:hover &__button {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &__image-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }

  &__image {
    object-fit: cover;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
}
