@use "assets/scss/scss-variables" as *;

.title {
  font-weight: 400;
  font-family: $font-title;
}

.section-title {
  max-width: 400px;
  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 35px;
  font-family: $font-title;
  line-height: 1.3;
  letter-spacing: 0.06em;
}
