@use "assets/scss/abstracts/scss-variables" as *;

.title {
  font-weight: 400;
  font-family: $font-title;
}

.section-title {
  max-width: 400px;
  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 35px;
  font-family: $font-title;
  line-height: 45px;
  letter-spacing: 0.06em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}
