:root {
  --color-dark-3xl: rgba(41, 41, 41);
  --color-dark-xl: rgba(76, 76, 76);
  --color-dark-l: rgba(84, 84, 84);
  --color-dark-m: rgba(178, 178, 178);
  --color-dark-s: rgba(205, 205, 205);
  --color-light-l: rgba(246, 246, 246);
  --color-light-s: rgba(250, 250, 250);
  --color-light-xl: rgba(255, 255, 255);
  --color-primary: rgba(242, 204, 176);
  --color-primary-light: rgb(253, 220, 196);
}
