@font-face {
  font-weight: 400;
  font-family: "Arial";
  font-style: normal;
  src:
    url("assets/fonts/Arial/ArialMT.woff2") format("woff2"),
    url("assets/fonts/Arial/ArialMT.woff") format("woff"),
    url("assets/fonts/Arial/ArialMT.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Arial";
  font-style: normal;
  src:
    url("assets/fonts/Arial/Arial-BoldMT.woff2") format("woff2"),
    url("assets/fonts/Arial/Arial-BoldMT.woff") format("woff"),
    url("assets/fonts/Arial/Arial-BoldMT.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Arial";
  font-style: italic;
  src:
    url("assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"),
    url("assets/fonts/Arial/Arial-ItalicMT.woff") format("woff"),
    url("assets/fonts/Arial/Arial-ItalicMT.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Georgia";
  font-style: normal;
  src:
    url("assets/fonts/Georgia/Georgia.woff2") format("woff2"),
    url("assets/fonts/Georgia/Georgia.woff") format("woff"),
    url("assets/fonts/Georgia/Georgia.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Georgia";
  font-style: normal;
  src:
    url("assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"),
    url("assets/fonts/Georgia/Georgia-Bold.woff") format("woff"),
    url("assets/fonts/Georgia/Georgia-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Georgia";
  font-style: italic;
  src:
    url("assets/fonts/Georgia/Georgia-Italic.woff2") format("woff2"),
    url("assets/fonts/Georgia/Georgia-Italic.woff") format("woff"),
    url("assets/fonts/Georgia/Georgia-Italic.ttf") format("truetype");
}
