*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: rgb(76 76 76);
  font-size: 15px;
  font-family: "Arial", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
