@use "sass:color";
@use "assets/scss/abstracts/scss-variables" as *;

.footer {
  padding-top: 40px;
  background: var(--bg-dark-pattern);

  @media (max-width: $breakpoint-desktop) {
    padding-top: 30px;
  }

  &__content {
    display: flex;
    gap: 160px;
    justify-content: space-between;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 62px;
      align-items: center;
      max-width: 640px;
      margin: 0 auto;
    }
  }

  &__contacts {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px auto auto;
    gap: 33px 136px;
    align-content: flex-start;
    align-items: center;
    padding-top: 16px;

    @media (max-width: $breakpoint-desktop) {
      padding-top: 0;
      column-gap: 36px;
    }
  }

  &__title {
    color: var(--color-light-xl);
  }

  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--color-primary);
    font-size: 20px;
    font-family: $font-title;
    line-height: 1.15;
    letter-spacing: 0.06em;
    transition: color 0.2s ease-in;

    &:hover {
      color: color.adjust($color: rgb(242 204 176), $lightness: 10%);
    }
  }

  &__contact-icon {
    width: auto;
    height: 32px;
  }
}
