@use "assets/scss/abstracts/scss-variables" as *;

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $bg-dark-pattern;
  background-position-y: top;
  background-size: auto, auto 908px;

  @media (max-width: $breakpoint-desktop) {
    padding-top: 30px;
  }

  &--sticky {
    position: fixed;
    width: 100%;
  }

  .pets-page & {
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color-light-xl;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__logo {
  @media (max-width: $breakpoint-tablet) {
    position: absolute;
    right: 126px;
  }
}

.header__nav {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__burger {
  position: absolute;
  right: 53px;
  z-index: $z-index-burger;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
    transition: transform 0.3s ease-in;

    &.active {
      transform: rotate(90deg);
    }
  }
}

.header__burger-line {
  display: block;
  height: 2px;
  background-color: $color-primary;
  transition: background 0.3s ease-in;

  .pets-page & {
    background-color: $color-darkest;
  }

  .pets-page .header__burger.active & {
    background-color: $color-primary;
  }
}
