@use "assets/scss/abstracts/scss-variables" as *;

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-dark-pattern);
  background-position-y: top;
  background-size: auto, auto 908px;

  @media (max-width: $breakpoint-desktop) {
    padding-top: 30px;
  }

  &__nav {
    display: flex;
    height: 60px;
  }

  .pets-page & {
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--color-light-xl);
  }
}
