@use "assets/scss/abstracts/scss-variables" as *;
@use "assets/scss/abstracts/mixins" as *;

.nav {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-sidenav;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: $color-dark-3xl;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  &.active {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      max-width: 320px;
      transform: translateX(0);
    }
  }
}

.nav__logo {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    align-self: flex-start;
    margin-bottom: 158px;
  }
}

.nav__list {
  display: flex;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

.nav__item {
  display: block;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-right: 0;
  }
}

.nav__link {
  color: $color-dark-s;
  line-height: 24px;
  transition: color 0.2s ease-in;

  &:hover {
    color: $color-light-s;
  }

  &--active {
    position: relative;
    padding-bottom: 3px;
    color: $color-light-s;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
      content: "";
    }
  }

  .pets-page & {
    @media (min-width: ($breakpoint-tablet + 1)) {
      color: $color-dark-l;

      &:hover {
        color: $color-dark-3xl;
      }
    }
  }

  .pets-page &--active {
    @media (min-width: ($breakpoint-tablet + 1)) {
      color: $color-dark-3xl;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 51px;
  }
}

.nav-overlay {
  @include background-overlay($z-index-sidenav-overlay);
}
